html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: #222;
  font-family: Raleway;
  font-size: 15px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: 10px;
}

main {
  width: 100%;
  height: 95%;
}

main.content {
  margin: 20px 0;
}

header {
  height: 5%;
  font-size: 16px;
  text-transform: uppercase;
}

footer {
  position: fixed;
  bottom: 8px;
  right: 8px;
  font-family: Rubik, sans-serif;
  font-size: 12px;
}

footer > p > a {
  font-weight: 600;
}

header > a {
  transition: all .6s ease;
}

header > a.selected, header > a:hover {
  transform: scale(1.05);
}

header > a.selected {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

header > a:not(:last-child) {
  margin-right: 12px;
}

video.cover {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	-moz-opacity:0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.flex-center {
  flex-direction: column;
}

.horizonal-center {
  margin: 0 auto;
}

.short-bio {
  margin-top: 4px;
  font-size: 20px;
}

.button {
  background: #222;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all .6s ease;
}

.button:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}

.button.down {
  margin-top: 10px;
}

.container {
  max-width: 50%;
}

.container > .header {
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  font-size: 16px;
}

.container > .header > h3 {
  display: inline-block;
}

.container > .header > .tools {
  float: right;
  cursor: pointer;
}

.container .content.hide { 
  display: none; 
}

.container > .content {
  padding: 8px 0;
}